#parent{
    width: 100%;
    height: 100vh;
    background: #e4e4e4;
    position: relative;
}
#child{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}